<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.maven.core.dao.BookBorrowDao">
    <resultMap type="BookBorrowRecord" id="BookBorrowRecordResult">
        <result property="id" column="id"/>
        <result property="book_id" column="book_id"/>
        <result property="user_id" column="user_id"/>
        <result property="br_time" column="br_time"/>
        <result property="allowed_keep_length" column="allowed_keep_length"/>
        <result property="is_done" column="is_done"/>
        <result property="arrearage" column="arrearage"/>
        <result property="renew_times" column="renew_times"/>
    </resultMap>

    <insert id="borrowBook" parameterType="BookBorrowRecord">
		insert into my_borrow_record(book_id,user_id,br_time,allowed_keep_length,is_done,arrearage,renew_times)
		values(#{book_id},#{user_id},#{br_time},#{allowed_keep_length},#{is_done},#{arrearage},#{renew_times})
	</insert>

    <update id="changeBookStatus" parameterType="Map">
        update my_ssm_book
        <set>
            <if test="status!=null ">
                status=#{status}
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="findRecord" parameterType="Integer" resultType="BookBorrowRecord">
        select * from my_borrow_record
        where id=#{id}
    </select>

    <update id="returnBook" parameterType="Map">
        update my_borrow_record
        <set>
           <if test="br_time!=null ">
               br_time=#{br_time},
           </if>
           <if test="is_done!=null ">
               is_done=#{is_done},
           </if>
           <if test="arrearage!=null ">
               arrearage=#{arrearage}
           </if>
        </set>
        where id=#{id}
    </update>

    <update id="renewBook" parameterType="Map">
        update my_borrow_record
        <set>
            <if test="allowed_keep_length!=null">
                allowed_keep_length=#{allowed_keep_length},
            </if>
            <if test="renew_times!=null">
                renew_times=#{renew_times}
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="findRecordsByUserID" parameterType="Integer" resultMap="BookBorrowRecordResult">
        select * from my_borrow_record
        <where>
            <if test="user_id!=null ">
                and user_id = #{user_id}
            </if>
        </where>
        ORDER BY id desc
    </select>
</mapper>